{% extends '::base.html.twig'%}


{% block body %}

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
     <li class="breadcrumb-item">
          <a href="#">Productos</a>
        </li> 
        <li class="breadcrumb-item active">
          Buscar Productos</li>
      </ol>
      
El producto encontrada es  {{producto}}

</div>
</div>

{% endblock %}